/**
----------------------
page index

TODO:
- responsive pour petits mobiles
- vignette ronde responsive
----------------------
*/


// en-tête
.banniere{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;

    @include tablet{
        flex-flow: row wrap;
        gap: 0;
    }

    nav{
        flex-grow: 1;
        max-width: 50%;

        @include tablet{
            max-width: 100%;
            order: 3;
        }

        .nav-par-tag{
            width: 100%;
            flex-flow: row wrap;
            text-transform: capitalize;
        }
    }
    
    h1{
        display: inline;
        white-space: nowrap;
        font-size: 1.8rem;
        color: $couleur-primaire;

        @include mobile-large{
            position: absolute;
            top: 50px;
            right: 5vw;
            margin-right: 0;
            font-size: 1rem;
            flex-basis: 50%;
        }
    }
}

.logo{
    width: 14vw;
    min-width: 150px;

    @include mobile-large{
        flex-basis: 50%;
    }
}

// contenu main
.photographes-galerie{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-flow: row wrap;
    gap: 2rem;
    width: 100%;
    margin-top: 5vw;
    padding-left: 0;

    .nav-par-tag{
        justify-content: center;
    }
}

.photographe-profil{
    flex-basis: 30%;
    line-height: 1.3rem;

    @include tablet{
        flex-basis: 46%;
    }

    @include mobile-large{
        flex-basis: 100%;
    }

    .vignette{
        @include vignette-ronde(12rem, 12rem);
    }

    .nom{
        padding: .5rem 0;
        font-size: 1.8rem;
        color: $couleur-secondaire;
    }

    .localisation{
        font-size: .9rem;
    }

    .accroche{
        font-size: .8rem;
        color: black;
    }

    .tarif{
        font-size: .8rem ;
        color: $couleur-neutre-intermediaire;
    }

    .nav-par-tag{
        padding-left: 0;
        margin-top: .4rem;
        text-transform: lowercase;
        line-height: 1rem;
    }
}