/**
----------------------
page photographe

TODO:
- mettre au propre l'anim btn-principal
----------------------
*/


.banniere-photographe{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 3vw;
    padding: 3rem 2rem;
    background-color: $couleur-neutre-clair;
    font-size: 1rem;
    align-items: flex-start;

    @include mobile-large{
        flex-flow: row nowrap;
        background-color: white;
        padding: 0;
    }

    
    .photographe-profil{
        display: flex;
        flex-flow: column wrap;
        line-height: 2rem;
        width: 100%;


        .btn-principal{
            position: relative;
            transform: translateY(-10rem);
            left: 100%; 

            @include tablet{
                z-index: 5;
                width: 12rem;
                position: fixed;
                left: 50%;
                bottom: 1rem;
                transform: translate(-50%, 0%);
            }
        }

        .nom{
            font-size: 2.2em;
            margin-right: 1.5rem;
            white-space: normal;
        }
    
        .localisation{
            font-size: .9em;
        }
    
        .accroche{
            font-size: .8em;
            color: $couleur-neutre-fonce;
            line-height: 1.3rem;
            margin-bottom: 1rem;
        }
    
        .nav-par-tag{
            @include mobile-large{
               flex-flow: row wrap; 
            }
        }    
    }

    .vignette{
        @include vignette-ronde(10rem, 10rem);
        align-self: center;

        @include mobile-large{
            width: 8rem;
            height: 8rem;
            flex-shrink: 0;
        }
    }

}

// compteur de likes
// reste fixe en bas de la page
.bloc-fixe{
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    width: 13rem;
    padding: 1rem;
    margin-right: 1rem;
    background-color: $couleur-secondaire;
    color: black;
    border-radius: .3rem .3rem 0 0;

    @include tablet{
        display: none;
    }

    .icone-like{
        font-size: .8rem;
        color: black;
    }

    .tarif{
        margin-left: 2rem;
    }
}

// galerie d'images

.profil-galerie{
    display: flex;
    width: 100%;
    // justify-content: space-between;
    flex-flow: row wrap;
    margin-top: $grande-marge;
    gap: $moyenne-marge;

    .apercu-photo{
        width: 30vw;
        height: 28vw;
        margin: 0;

        @include tablet{
            width: 43vw;
            height: 100%;
        }
        
        @include mobile-large{
            height: 100%;
            width: 100vw;
        }
    }

    img, video{
        width: 100%;
        height: 90%;
        object-fit: cover;
        border-radius: .3rem;
        margin-bottom: $moyenne-marge;

        @include tablet{
            height: 25vw;
        }

        @include mobile-large{
            height: 50vw;
        }
    }

    figcaption{
        display: flex;
        justify-content: space-between;
    }

    .likes{
        display: flex;
        align-items: flex-start;

        .likes__nombre{
            margin-right: .3rem;
        }
    }

}