/**
----------------------
boutons
----------------------
*/

.btn-contenu-principal{
    display: block;
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    padding: $petite-marge;
    background-color: $couleur-secondaire;
    color: black;
    border-radius: .5rem;

    &[aria-hidden]{
        display: none;
    }
}

.btn-fermeture{
    z-index: 10;
    cursor: pointer;
    width: 2rem;
    height: 3rem;
    background-color: transparent;
    opacity: 1;
    transform: scale(.9);

    &::before,
    &::after{
        content: " ";
        position: absolute;
        width: 3px;
        height: 2rem;
        left: 15px;
        background-color: $couleur-primaire;

        @include mobile-large{
            height: 1.5rem;
        }
    }
  
    &::before{
        transform: rotate(45deg);
    }
  
    &::after{
        transform: rotate(-45deg);
    }
}

//
// bouton skip
//

// .btn-contenu-principal{
//     position: fixed;
//     color: $couleur-secondaire;
// }


//
// tags
//
.tag-entree {
    margin: 0 .3rem .3rem 0;
    padding: .2rem .5rem;
    color: $couleur-primaire;
    font-size: .85rem;
    border: 1px solid $couleur-neutre-intermediaire;
    border-radius: .9rem;

    &:hover,
    &.active{
        background-color: $couleur-primaire;
        border: 1px solid $couleur-primaire;

        a{
            color: white;
        }
    }

    // &::before{
    //     content: "#";
    // }
}


// Bouton principal
// Contactez-moi, menu etc
//
.btn-principal{
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: max-content;
    padding: 1rem;
    background-color: $couleur-primaire;
    color: white;
    border-radius: .4rem;
    border: none;

    &::after{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $couleur-secondaire;
        border-radius: .4rem;

    // animation au survol
        opacity: 0;
        transition: opacity 220ms;
    }

    &:hover{
        color: black;
        
        &::after{
            opacity: 1;
        }
    }

    &:focus{
        color: black;
        
        &::after{
            opacity: 1;
        }
    }
}


//
// bouton likes
//
.icone-like{
    cursor: pointer;
    background: none;
    color: $couleur-primaire;
    
    .like-actif {
        color: lighten($couleur-primaire, 20%);
    }
}

//
// bouton de selection par option
//

.trier-par{
    display: flex;
    color: black;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    position: relative;

  p{
      margin-right: 1rem;
      padding-top: 0.5rem;
  }

  .select{
      display: flex;
      width: 10rem;
      flex-direction: column;
      position : absolute;
      left: 5rem;

      .active {
          max-height: 11rem;
          opacity : 1;
          // passer par dessus le select
          margin-top: -3rem;
          z-index: 1;
          border-radius: .5rem;
        //   overflow-y : scroll;

        // svg {
        //     transform : translate(50%);
        //     background-color:blueviolet;
        // }
      }

      svg {
        color: white;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width: 1.7rem;
        right: .5rem;
        top: .6rem;
    }
    }
    
    .conteneur-options {
        order: 1;
        background-color: $couleur-primaire;
        color: white;
        max-height: 0;
        width: 100%;
        opacity: 0;
        // transition: all .4s;
        border-radius: 0 0 .5rem .5rem;
        overflow: hidden;
        
        
    }

    .selected {
        background-color: $couleur-primaire;
        color: white;
        border-radius : .5rem;
        height: 3rem;
        text-align: left;
    }

    .selected-active {
        border-radius : .5rem .5rem 0 0;
    }

    .option,
    .selected {
        padding: .9rem;
        cursor: pointer;

        .radio {
            display: none;
        }
    }

    .option {
        &::after{
                content: "";
                display: block;
                width: 8rem;
                padding-bottom: 1rem;
                border-bottom: .1rem white solid;
        }

        &:hover{
            background-color: $couleur-secondaire;
        }
    }

    label {
        cursor: pointer;
    }
      
    svg {
      position: absolute;
      width: 1rem;
      top: .6rem;
      right: 14px;
      z-index: 2;
      fill: currentColor;
      transition: transform 0.1s;
    }
  }


// // Bouton select
// // critères de tri
// .trier-par{
//     display: flex;

//     .menu-options{
//         margin-left: 1rem;
//         background-color: $couleur-primaire;
//         border: none;

//         .option{
//             &::after{
//                 border-bottom: 1px solid white;
//             }
        

//         }
//     }
// }

