/**
----------------------
boutons
----------------------
*/

.btn-fermeture{
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    opacity: 1;
    transform: scale(.9);

    &::before,
    &::after{
        content: " ";
        position: absolute;
        width: 3px;
        height: 2rem;
        left: 15px;
        background-color: $couleur-primaire;

        @include mobile-large{
            height: 1.5rem;
        }
    }
  
    &::before{
        transform: rotate(45deg);
    }
  
    &::after{
        transform: rotate(-45deg);
    }
}


// tags
//
.tag-entree{
    margin: 0 .3rem .3rem 0;
    padding: .2rem .5rem;
    color: $couleur-primaire;
    font-size: .85rem;
    border: 1px solid $couleur-neutre-intermediaire;
    border-radius: .9rem;

    &:hover,
    &:active{
        background-color: $couleur-primaire;
        border: 1px solid $couleur-primaire;

        a{
            color: white;
        }
    }

    // &::before{
    //     content: "#";
    // }
}

// Contactez-moi, menu etc
//
.btn-principal{
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: max-content;
    padding: 1rem;
    background-color: $couleur-primaire;
    color: white;
    border-radius: .4rem;
    border: none;

    &::after{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $couleur-secondaire;
        border-radius: .4rem;

    // animation au survol
        opacity: 0;
        transition: opacity 220ms;
    }

    &:hover{
        color: black;
        
        &::after{
            opacity: 1;
        }
    }

    &:focus{
        color: black;
        
        &::after{
            opacity: 1;
        }
    }
}


// Bouton select
// critères de tri
.trier-par{
    display: flex;

    .menu-options{
        margin-left: 1rem;
        background-color: $couleur-primaire;
        border: none;

        .option{
            &::after{
                border-bottom: 1px solid white;
            }
        

        }
    }
}

