/**
----------------------

formulaire de contact

----------------------
*/

.modale-formulaire{
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-y: scroll;
  background-color: hsla(0, 0%, 100%, 0.75);
  transition: .2s;

    // fenêtre désactivée
    &[aria-hidden="true"]{
    visibility: hidden;
    opacity: 0;
  }

  .btn-fermeture{
    position: absolute;
    top: 0rem;
    right: 1rem;

    &::before,
    &::after{
        background-color: white;
    }
  }
}

.formulaire-contenu{
  position: relative;
  width: 30rem;
  height: max-content;
  margin: 2.4rem auto;
  padding: 1.5rem;
  background-color: $couleur-secondaire;
  color: black;
  font-size: 1.3rem;
  border-radius: .5rem;
  overflow: scroll;

  @include mobile-large{
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  h1{
    font-size: 2.5rem;
    margin-bottom: $moyenne-marge;
  }

  .erreur-saisie{
    color: white;
    font-size: .9rem;
    opacity: 0;
    padding-top: .5rem;
    transition: opacity .20s ease-in-out;
  }
  // animation message d'erreur
  .erreur-saisie--active{
    opacity: 1;
  }
}

.formulaire{
  display: flex;
  flex-flow: column wrap;

  .btn-principal{
    cursor: pointer;
    font-size: 1rem;

    &:hover,
    &:focus{
      background-color: white;
      color: $couleur-primaire;
    }

    @include mobile-large{
      align-self: center;
    }  
  }

  .champ-formulaire{
    margin-bottom: $moyenne-marge;

    input, textarea{
      width: 100%;
      line-height: 2rem;
      padding: .3rem;
      margin-top: $petite-marge;
      border: none;
      border-radius: .3rem;
    }

    &:nth-child(4) > input{
      height: 8rem;
    }
  }

}