/**
----------------------
lightbox
----------------------
*/

.lightbox{
    z-index: 50;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: lightboxIn .5s;

    // fenêtre désactivée
    &[aria-hidden="true"]{
        visibility: hidden;
        opacity: 0;
    }
}

.lightbox__commandes{
    position: fixed;
    opacity : .8;
    transition : .2s;
    height: 100%;
    width: auto;

    &:hover {
        opacity: 1;
    }

    .btn-fermeture{
        position: fixed;
        right: 3rem;
    }
    
    .gauche,
    .droite{
        position: fixed;
        height: 100%;
        cursor: pointer;
        background-color: transparent;
        font-size: 2rem;
        color: $couleur-primaire;
    }
    
    .gauche{
        left: 3rem;
    }
    
    .droite{
        right: 3rem;
    } 
}

.lightbox__contenu{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 5rem;

    .lightbox-element{
        // max-width : 100%;
        max-width : 50%;
        position: absolute;
    }

    .actif{
            opacity: 1;
        }

    img, video {
        object-fit: cover;
        width: 100%;
        animation: lightboxIn .5s;
    }
}
