/**
----------------------
base
----------------------
*/

// reset balises de base
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: $couleur-primaire;
}

ul{
    list-style-type: none;
    padding: 0;
}

button{
    border: none;
}

//
// Accessibilité
//
*:focus{
    outline: .2rem dotted $couleur-neutre-intermediaire;
}

//
//styles textuels
//

body{
    max-width: 1400px;
    margin: 25px 30px 50px 30px;
    font-family: 'DM Sans', sans-serif;
    color: $couleur-primaire;

    @include tablet{
        margin: 8vw 5vw;
    }
}

//
//blocs
//

.nav-par-tag{
    display: flex;
}


/// dissimulation - accessibilité

.hidden{
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0;
    top: -10000px;
    overflow: hidden;
}