/**
----------------------
base
----------------------
*/

// reset balises de base
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

//
//styles textuels
//

body{
    margin: 40px 50px 80px 50px;
    font-family: 'DM Sans', sans-serif;
    color: $couleur-primaire;

    @include tablet{
        margin: 8vw 5vw;
    }
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

//
//blocs
//

.nav-par-tag{
    display: flex;
}