/**
----------------------
variables
----------------------
*/

// Palette de couleurs
//
$couleur-primaire: hsl(0, 67%, 34%);
$couleur-secondaire: hsl(11, 63%, 53%);
$couleur-neutre-clair: hsl(0, 0%, 32%);
$couleur-neutre-fonce: hsl(0, 0%, 98%);