/**
----------------------
variables
----------------------
*/

// Palette de couleurs
//
$couleur-primaire: hsl(0, 67%, 34%);
$couleur-secondaire: hsl(11, 63%, 53%);
$couleur-neutre-fonce: hsl(0, 0%, 30%);
$couleur-neutre-intermediaire: hsl(0, 0%, 55%);
$couleur-neutre-clair: hsl(0, 0%, 98%);

// breakpoints
//
$mobile: 320px;
$mobile-large: 590px;
$tablet: 805px;
$small-desk: 1012px;
$large-desk: 1280px;

$breakpoint: (
    mobile: $mobile,
    mobile-large: $mobile-large,
    tablet: $tablet,
    small-desk: $small-desk,
    large-desk: $large-desk
) !default;

// gestion des marges

$petite-marge: .3rem;
$grande-marge: 2rem;
$moyenne-marge: .8rem;