/**
----------------------
variables
----------------------
*/

// Palette de couleurs
//
$couleur-primaire: hsl(0, 67%, 34%);
$couleur-secondaire: hsl(11, 63%, 53%);
$couleur-neutre-fonce: hsl(0, 0%, 32%);
$couleur-neutre-intermediaire: hsl(0, 0%, 77%);
$couleur-neutre-clair: hsl(0, 0%, 98%);

// breakpoints
//
$mobile: 320px;
$mobile-large: 544px;
$tablet: 718px;
$small-desk: 1012px;
$large-desk: 1280px;

$breakpoint: (
    mobile: $mobile,
    mobile-large: $mobile-large,
    tablet: $tablet,
    small-desk: $small-desk,
    large-desk: $large-desk
) !default;